<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add car</title>
</head>
<body>
<div>
    <h1>car</h1>
    <h2>add car</h2>
    <form action="#" th:action="@{/saveCar}" th:object="${car}" method="post">
        <p>name <input type="text" th:field="*{name}"></p>
        <p>licensePlate <input type="text" th:field="*{licensePlate}"></p>
        <p><input type="submit" value="save"></p>
    </form>
</div>
<a th:href="@{/cars.html}"><h1>all cars</h1></a>
<a th:href="@{/}"><h1>to start page</h1></a>
</body>
</html>